<h1>GoGoCoins - spend money wisely!</h1>

Welcome to our catalog! Our goal - to collect as much information as possible for all products possible. You may find here descriptions, reviews, photos and many more for any even rare products!<br>
Our catalog is under construction right now, but please, feel free to walk around it while we working on it!<p>

<% categories_breadcrumb(params[:parent_id]).each_with_index do |link, i| %>
  <%= link %><%= ' ->' if i+1 < categories_breadcrumb(params[:parent_id]).size %>
<% end %>

<% if @categories.present? %>
  <table>
    <tr>
      <th>Category name</th>
    </tr>

    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, categories_path(:parent_id => category.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% if @products.present? %>
  <table>
    <tr>
      <th>Product name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>

    <% @products.each do |product| %>
      <tr>
        <td>--<%= link_to product.title, product %></td>
        <td><%== strip_tags(product.des)[0..255] + '...' %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<br />

<%= link_to 'Back', categories_path(:parent_id => Category.find(params[:parent_id]).parent) unless params[:parent_id].blank? || params[:parent_id] == '0' || params[:parent_id] == '1' %><br />
