<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :des %><br />
    <%= f.text_area :des %>
  </div>
  <div class="field">
    <%= f.label :art %><br />
    <%= f.text_field :art %>
  </div>
  <div class="field">
    <%= f.label :images %><br />
    <%= f.text_field :images %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :parsed %><br />
    <%= f.check_box :parsed %>
  </div>
  <div class="field">
    <%= f.label :exported %><br />
    <%= f.check_box :exported %>
  </div>
  <div class="field">
    <%= f.label :accessed %><br />
    <%= f.number_field :accessed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
